{% extends 'maintemplate.html' %}
{% block bio %}
<font size="5">
<thead><tr><table class="table table-bordered">
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Year
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Title
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Role(s)
</th></tr></thead><tbody>
<tr>
<td>1995
</td>
<td><i>The Terminator: Future Shock</i>
</td>
<td>Production, additional design
</td></tr>
<tr>
<td rowspan="2">1996
</td>
<td><i>Skynet</i>
</td>
<td>Production, design
</td></tr>
<tr>
<td><i>The Elder Scrolls II: Daggerfall</i>
</td>
<td>Additional design
</td></tr>
<tr>
<td>1998
</td>
<td><i>The Elder Scrolls Adventures: Redguard</i>
</td>
<td>Project leader, design, writing
</td></tr>
<tr>
<td>2002
</td>
<td><i>The Elder Scrolls III: Morrowind</i>
</td>
<td>Project leader, original concept
</td></tr>
<tr>
<td>2003
</td>
<td><i>The Elder Scrolls III: Bloodmoon</i>
</td>
<td rowspan="4">Executive producer
</td></tr>
<tr>
<td>2004
</td>
<td><i>The Elder Scrolls Travels: Shadowkey</i>
</td></tr>
<tr>
<td>2006
</td>
<td><i>The Elder Scrolls IV: Oblivion</i>
</td></tr>
<tr>
<td>2007
</td>
<td><i>The Elder Scrolls IV: Shivering Isles</i>
</td></tr>
<tr>
<td>2008
</td>
<td><i>Fallout 3</i>
</td>
<td rowspan="2">Game director
</td></tr>
<tr>
<td>2011
</td>
<td><i>The Elder Scrolls V: Skyrim</i>
</td></tr>
<tr>
<td rowspan="2">2015
</td>
<td><i>Fallout Shelter</i>
</td>
<td>Executive producer
</td></tr>
<tr>
<td><i>Fallout 4</i>
</td>
<td rowspan="2">Game director
</td></tr>
<tr>
<td>2018
</td>
<td><i>Fallout 76</i>
</td></tr></tbody><tfoot></tfoot></table></font>

{% endblock %}