{% extends 'maintemplate.html' %}
{% block table %}
<div class="stat mB6">
<table class="stat-table table  sortable-table" cellpadding="0" cellspacing="0">
<colgroup>
<col width="34">
<col width="">
<col width="50">
<col width="45">
<col width="45">
<col width="45">
<col width="40">
<col width="45">
<col width="50">
</colgroup>
<thead>
<tr>
<td class="bordR">&nbsp;</td>
<td class="name-td alLeft bordR">Команда</td>
<td data-sortable="true" data-sortorder="desc" data-sorttype="number" title="Матчи"><span class="sort">М</span></td>
<td data-sortable="true" data-sortorder="desc" data-sorttype="number" title="Выигрыши"><span class="sort">В</span></td>
<td data-sortable="true" data-sortorder="desc" data-sorttype="number" title="Ничьи"><span class="sort">Н</span></td>
<td data-sortable="true" data-sortorder="desc" data-sorttype="number" title="Проигрыши"><span class="sort">П</span></td>
<td data-sortable="true" data-sortorder="desc" data-sorttype="number" title="Очки" class="sort-act"><span class="sort">О</span></td>
</tr>
</thead>
<tbody>
<tr>
<td class="color1 bordR">1</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.1 }}</a></div></td>
<td>{{stats.0}}</td>
<td>{{stats.1}}</td>
<td>{{stats.2}}</td>
<td>{{stats.3}}</td>
<td>{{stats.4}}</td>
</tr>
<tr>
<td class="color1 bordR">2</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.2 }}</a></div></td>
<td>{{stats.5}}</td>
<td>{{stats.6}}</td>
<td>{{stats.7}}</td>
<td>{{stats.8}}</td>
<td>{{stats.9}}</td>

</tr>
<tr>
<td class="color1 bordR">3</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.3 }}</a></div></td>
<td>{{stats.10}}</td>
<td>{{stats.11}}</td>
<td>{{stats.12}}</td>
<td>{{stats.13}}</td>
<td>{{stats.14}}</td>
</tr>
<tr>
<td class="color1 bordR">4</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.4 }}</a></div></td>
<td>{{stats.15}}</td>
<td>{{stats.16}}</td>
<td>{{stats.17}}</td>
<td>{{stats.18}}</td>
<td>{{stats.19}}</td>
</tr>
<tr>
<td class="color2 bordR">5</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.5 }}</a></div></td>
<td>{{stats.20}}</td>
<td>{{stats.21}}</td>
<td>{{stats.22}}</td>
<td>{{stats.23}}</td>
<td>{{stats.24}}</td>
</tr>
<tr>
<td class="bordR">6</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.6 }}</a></div></td>
<td>{{stats.25}}</td>
<td>{{stats.26}}</td>
<td>{{stats.27}}</td>
<td>{{stats.28}}</td>
<td>{{stats.29}}</td>
</tr>
<tr>
<td class="bordR">7</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.7 }}</a></div></td>
<td>{{stats.30}}</td>
<td>{{stats.31}}</td>
<td>{{stats.32}}</td>
<td>{{stats.33}}</td>
<td>{{stats.34}}</td>
</tr>
<tr>
<td class="bordR">8</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.8 }}</a></div></td>
<td>{{stats.35}}</td>
<td>{{stats.36}}</td>
<td>{{stats.27}}</td>
<td>{{stats.38}}</td>
<td>{{stats.39}}</td>
</tr>
<tr>
<td class="bordR">9</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.9 }}</a></div></td>
<td>{{stats.40}}</td>
<td>{{stats.41}}</td>
<td>{{stats.42}}</td>
<td>{{stats.43}}</td>
<td>{{stats.44}}</td>
</tr>
<tr>
<td class="bordR">10</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.10 }}</a></div></td>
<td>{{stats.45}}</td>
<td>{{stats.46}}</td>
<td>{{stats.47}}</td>
<td>{{stats.48}}</td>
<td>{{stats.49}}</td>
</tr>
<tr>
<td class="bordR">11</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.11 }}</a></div></td>
<td>{{stats.50}}</td>
<td>{{stats.51}}</td>
<td>{{stats.52}}</td>
<td>{{stats.53}}</td>
<td>{{stats.54}}</td>
</tr>
<tr>
<td class="bordR">12</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.12 }}</a></div></td>
<td>{{stats.55}}</td>
<td>{{stats.56}}</td>
<td>{{stats.57}}</td>
<td>{{stats.58}}</td>
<td>{{stats.59}}</td>
</tr>
<tr>
<td class="bordR">13</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.13 }}</a></div></td>
<td>{{stats.60}}</td>
<td>{{stats.61}}</td>
<td>{{stats.62}}</td>
<td>{{stats.63}}</td>
<td>{{stats.64}}</td>
</tr>
<tr>
<td class="bordR">14</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.14 }}</a></div></td>
<td>{{stats.65}}</td>
<td>{{stats.66}}</td>
<td>{{stats.67}}</td>
<td>{{stats.68}}</td>
<td>{{stats.69}}</td>
</tr>
<tr>
<td class="bordR">15</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.15 }}</a></div></td>
<td>{{stats.70}}</td>
<td>{{stats.71}}</td>
<td>{{stats.72}}</td>
<td>{{stats.73}}</td>
<td>{{stats.74}}</td>
</tr>
<tr>
<td class="bordR">16</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.16 }}</a></div></td>
<td>{{stats.75}}</td>
<td>{{stats.76}}</td>
<td>{{stats.77}}</td>
<td>{{stats.78}}</td>
<td>{{stats.79}}</td>
</tr>
<tr>
<td class="bordR">17</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.17 }}</a></div></td>
<td>{{stats.80}}</td>
<td>{{stats.81}}</td>
<td>{{stats.82}}</td>
<td>{{stats.83}}</td>
<td>{{stats.84}}</td>
</tr>
<tr>
<td class="color4 bordR">18</td>
<td class="name-td alLeft bordR"><div class="hide-field"><i class="fader"></i></i><a>{{ teams.18 }}</a></div></td>
<td>{{stats.85}}</td>
<td>{{stats.86}}</td>
<td>{{stats.87}}</td>
<td>{{stats.88}}</td>
<td>{{stats.89}}</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}